spring:
  application:
    name: user-service

  datasource:
    url: ${USER_DB_URL:jdbc:postgresql://user-db:5432/userdb}
    username: ${USER_DB_USERNAME:useruser}
    password: ${USER_DB_PASSWORD:userpass}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: false
        show_sql: false

  flyway:
    enabled: true
    locations: classpath:db/migration

  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:kafka:9092}

    # Confluent Schema Registry location
    properties:
      schema.registry.url: ${SCHEMA_REGISTRY_URL:http://schema-registry:8081}

    consumer:
      group-id: ${KAFKA_CONSUMER_GROUP_ID:user-service}
      auto-offset-reset: earliest
      enable-auto-commit: false

      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: io.confluent.kafka.serializers.KafkaAvroDeserializer

      properties:
        specific.avro.reader: true   # keep GenericRecord / primitives for now

    listener:
      ack-mode: manual

# Topics (so you don't hardcode in Java)
topics:
  auth:
    user-registered: ${TOPIC_AUTH_USER_REGISTERED:auth.user.registered.v1}
    email-changed: ${TOPIC_AUTH_EMAIL_CHANGED:auth.email.change.committed.v1}

jwt:
  secret: ${JWT_SECRET:super-super-long-random-secret-key-change-this-in-prod}
  issuer: ${JWT_ISSUER:timeeconomy-auth}

logging:
  level:
    org.springframework.security: DEBUG
    org.springframework.kafka: INFO