spring:
  application:
    name: user-service

  datasource:
    url: jdbc:postgresql://localhost:5434/userdb
    username: useruser
    password: userpass
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: false
        show_sql: false

  flyway:
    enabled: true
    locations: classpath:db/migration
logging:
  level:
    org.springframework.security: DEBUG

server:
  port: 8081   # auth-service가 8080이면 user-service는 8081 같은 식으로