spring:
  application:
    name: user-service

  datasource:
    url: ${USER_DB_URL:jdbc:postgresql://user-db:5432/userdb}
    username: ${USER_DB_USERNAME:useruser}
    password: ${USER_DB_PASSWORD:userpass}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: false
        show_sql: false

  flyway:
    enabled: true
    locations: classpath:db/migration

  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:kafka:9092}

    consumer:
      group-id: ${KAFKA_CONSUMER_GROUP_ID:user-service}
      auto-offset-reset: earliest
      enable-auto-commit: false

      # If you use JSON (recommended)
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer

      properties:
        spring.json.trusted.packages: "com.timeeconomy.*"
        spring.json.use.type.headers: false

    listener:
      ack-mode: manual

# Topics (so you don't hardcode in Java)
topics:
  auth:
    user-registered: ${TOPIC_AUTH_USER_REGISTERED:timeeconomy.AuthUserRegistered.v1}
    email-changed: ${TOPIC_AUTH_EMAIL_CHANGED:timeeconomy.EmailChangeCommitted.v1}

jwt:
  secret: ${JWT_SECRET:super-super-long-random-secret-key-change-this-in-prod}
  issuer: ${JWT_ISSUER:timeeconomy-auth}

server:
  port: ${SERVER_PORT:8081}

logging:
  level:
    org.springframework.security: DEBUG
    org.springframework.kafka: INFO