server:
  port: 8085

spring:
  application:
    name: gateway-service

  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: auth-service
              uri: http://auth-service:8080
              predicates:
                - Path=/api/auth/**

            - id: user-service
              uri: http://user-service:8080
              predicates:
                - Path=/api/users/**

          default-filters:
            - RemoveResponseHeader=Server

logging:
  level:
    root: INFO
    org.springframework.cloud.gateway: DEBUG
    org.springframework.cloud.gateway.route.RouteDefinitionRouteLocator: DEBUG
    org.springframework.cloud.gateway.handler.RoutePredicateHandlerMapping: DEBUG
jwt:
  secret: "super-super-long-random-secret-key-change-this-in-prod"
  issuer: "timeeconomy-auth"